{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}
<h1 class="text-center">{{ title }}</h1>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- General News -->
    <h3 class="text-center lead">General News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;">
        {{macro.displaySourceList(general)}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- Business News -->
    <h3 class="text-center lead">Business News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;">
        {{macro.displaySourceList(business)}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- Technology News -->
    <h3 class="text-center lead">Technology News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;" >
        {{macro.displaySourceList(technology)}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- Sports News -->
    <h3 class="text-center lead">Sports News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;">
            {{macro.displaySourceList(sports)}}
    </div>

</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- Entertainment News -->
    <h3 class="text-center lead">Entertainment News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;">
        {{macro.displaySourceList(entertainment)}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- Health News -->
    <h3 class="text-center lead">Health News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;">
        {{macro.displaySourceList(health)}}
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 pt-3">
    <!-- Science News -->
    <h3 class="text-center lead">Science News Sources</h3>
    <hr>
    <div class="is-flex" style="display: flex; flex-wrap: wrap;">
        {{macro.displaySourceList(science)}}
    </div>
</div>

{% endblock%}

